body {
	font-family: "RobotoDraft","Roboto",sans-serif;
}
.container {
	width: 100vw;
	height: 100vh;
}

.saved-tracks {
	display: inline-block;
	width: 20vw;
	height: 80vh;
	border-right: 2px solid red;
	overflow: auto;
}

.map-container {
	display: inline-block;
	width: 70vw;
	height: 80vh;
}

#map {
	height: 80vh;
}

.track-name {
	padding: 20px 5px;
	margin-bottom: 15px;
	text-align: center;
	box-shadow: 1px 1px 1px grey;
	background: #2196F3;
	color: white;
	font-size: 0.8em;
	text-transform: uppercase;
	cursor: pointer;
}

.track-name:active {
	background: #03A9F4;
}

.nav-container {
	display: flex;
	justify-content: center;
}
.nav {
	display: flex;
}

.nav-button {
	padding: 10px;
	margin: 5px 25px 10px 25px;
	border: 1px solid lightblue;
	cursor: pointer;
}

.details {
	margin-top: 10px;
	margin-left: 20vw;
}

.elevation {
	display: inline-block;
	height: 40px;
	width: 200px;
	border-right: 2px solid lightblue;
	padding-right: 20px;
}

.distance {
	display: inline-block;
	height: 40px;
	border-right: 2px solid lightblue;
	padding-right: 20px;
}
