body {
	font-family: 'Open Sans', sans-serif;
}
.container {
}

.map-container {
}

#map {
	height: 80vh;
}

.nav-container {
	display: flex;
	justify-content: center;
}
.nav {
	display: flex;
}

.nav-button {
	padding: 10px;
	margin: 5px 25px 10px 25px;
	border: 1px solid lightblue;
	cursor: pointer;
}

.details {
	margin-top: 10px;
	margin-left: 40px;
}

.elevation {
	display: inline-block;
	margin-right: 40px;
}

.elevation>.from {
	display: inline-block;
	height: 40px;
	margin-right: 40px;
	border-right: 2px solid lightblue;
	padding-right: 20px;
}

.elevation>.to {
	display: inline-block;
	height: 40px;
	border-right: 2px solid lightblue;
	padding-right: 20px;
}

.distance {
	display: inline-block;
	height: 40px;
	border-right: 2px solid lightblue;
	padding-right: 20px;
}
