body {
	font-family: 'Open Sans', sans-serif;
}
.container {
	position: relative;
}

.map-container {
}

#map {
	height: 80vh;
}

.nav-container {
	display: flex;
	justify-content: center;
}
.nav {
	display: flex;
}

.nav-button {
	padding: 10px;
	margin: 5px 25px 10px 25px;
	border: 1px solid lightblue;
	cursor: pointer;
}

.save-tracks-btn {
	position: absolute;
	z-index: 5000;
	left: 5%;
	top: 15%;
	background-color: #FF5722;
	padding: 8px;
	box-shadow: 2px 2px 2px #9E9E9E;
	cursor: pointer;
}

.save-tracks-btn:hover {
	background-color: #F44336;
}

.save-tracks-btn:active {
	background-color: #FF5722;
}

.details {
	margin-top: 10px;
	margin-left: 40px;
}

.elevation {
	display: inline-block;
	height: 40px;
	width: 200px;
	border-right: 2px solid lightblue;
	padding-right: 20px;
	overflow: hidden;
}

.distance {
	display: inline-block;
	height: 40px;
	border-right: 2px solid lightblue;
	padding-right: 20px;
	overflow: hidden;
}

.save-info {
	display: inline-block;
	overflow: hidden;
}
